.portfolio {
  min-height: 605px;
  display: flex;
  position: relative;
  z-index: 5;
  @include r($lg) {
    min-height: auto;
  }

  &__head {
    @include flex-column(32);
    align-items: center;
    text-align: center;
    max-width: 808px;
    margin: 70px auto 0;
    @include r($lg) {
      margin-top: 0;
      margin-bottom: 40px;
    }
    @media (max-width: 810px) {
      gap: 24px;
    }

    p {
      line-height: 1.3;
      letter-spacing: -0.352px;
      max-width: 395px;
      @include r($lg) {
        max-width: 334px;
      }
    }
  }

  &__title {
    @include r($phone) {
      font-size: 40px;
    }
    @media (max-width: 375px) {
      font-size: 38px;
    }
    @media (max-width: 360px) {
      font-size: 36px;
    }

    span {
      display: block;
      font-family: $styreneALC;
      font-weight: 700;
      font-style: italic;
    }
  }

  &__list {
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translateX(-50%);
    @include r($lg) {
      @include flex-align-center(15);
      display: none;
      margin: 0 -20px;
      padding: 0 20px;
      position: static;
      transform: none;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__swiper {
    display: none;
    cursor: grab;
    @include r($lg) {
      display: block;
    }

    .swiper-wrapper {
      box-sizing: border-box;
    }

    .swiper-slide {
      width: auto;
    }
  }

  &__item {
    position: absolute;
    @include flex-column(30);
    align-items: center;
    text-align: center;
    padding: 32px 16px 16px;
    min-height: 480px;
    width: 350px;
    background-color: $black150;
    color: $gray;
    border-radius: 30px;
    overflow: hidden;
    @include r($lg) {
      min-height: 450px;
      border-radius: 26px;
      position: relative;
      transform: none !important;
    }
    @media (max-width: 860px) {
      width: 330px;
    }
    @include r($tablet) {
      min-height: 415px;
      width: 310px;
      border-radius: 24px;
    }
    @media (max-width: 660px) {
      min-height: 390px;
      border-radius: 22px;
    }
    @include r($sm) {
      padding: 26px 14px 12px;
      min-height: 370px;
    }
    @media (max-width: 520px) {
      width: 300px;
    }
    @include r($phone) {
      width: 290px;
      min-height: 365px;
      border-radius: 20px;
      padding: 23px 12px 12px;
    }
    @media (max-width: 375px) {
      width: 280px;
    }

    img {
      user-select: none;
    }

    &.manta {
      transform: rotate(-11deg) translateX(-100%);
      top: 0;
      left: 0;
      z-index: 1;

      .portfolio__logo {
        @media (max-width: 870px) {
          width: auto;
          height: 24px;
        }
        @include r($tablet) {
          height: 22px;
        }
        @media (max-width: 660px) {
          height: 21px;
        }
      }
    }

    &.fibert {
      transform: rotate(2deg) translateX(-73.5%) translateY(155px);
      z-index: 5;

      .portfolio__logo {
        @media (max-width: 870px) {
          width: auto;
          height: 20px;
        }
        @include r($tablet) {
          height: 19px;
        }
        @media (max-width: 660px) {
          height: 18px;
        }
      }
    }

    &.trainme {
      background-color: $green;
      transform: rotate(-7deg) translateX(-29%) translateY(125px);
      z-index: 4;
      @include r($lg) {
        .portfolio__img {
          width: 100%;
          height: 100%;
        }
      }

      .portfolio__logo {
        @media (max-width: 870px) {
          width: auto;
          height: 20px;
        }
        @include r($tablet) {
          height: 19px;
        }
        @media (max-width: 660px) {
          height: 18px;
        }
      }
    }

    &.spacex {
      background-color: $black;
      transform: rotate(20deg) translateX(-13%) translateY(95px);
      z-index: 2;

      .portfolio__logo {
        @media (max-width: 870px) {
          width: auto;
          height: 20px;
        }
        @include r($tablet) {
          height: 18px;
        }
        @media (max-width: 660px) {
          height: 17px;
        }
      }
    }

    &.flyswap {
      background-color: $white;
      transform: rotate(-7deg) translateX(12%) translateY(55px);
      z-index: 3;

      .portfolio__logo {
        @media (max-width: 870px) {
          width: auto;
          height: 24px;
        }
        @include r($tablet) {
          height: 22px;
        }
      }
    }

    &.telegram {
      background: linear-gradient(180deg, #2AABEE 0%, #229ED9 10000%);
      transform: rotate(-5.64deg) translateX(-44%) translateY(87px);
      z-index: 6;
    }
  }

  &__top {
    @include flex-column(12);
    align-items: center;
    max-width: 288px;
    width: 100%;
    @media (max-width: 870px) {
      gap: 14px;
    }
    @include r($sm) {
      gap: 10px;
    }

    &.short {
      max-width: 267px;
      @include r($phone) {
        gap: 14px;
      }
    }

    &.trainme {
      position: relative;
      z-index: 20;
      color: rgba($white, .9);
    }

    &.spacex {
      @include flex-column(16);
    }
  }

  &__logo {
    @include objectCoverBg;
    user-select: none;
    @media (max-width: 870px) {
      width: auto;
    }
  }

  &__name {
    font-family: $interDisplay;
    font-size: 28px;
    font-weight: 600;
    line-height: .9;
    letter-spacing: -0.7px;
    @include r($lg) {
      font-size: 24px;
    }
    @include r($tablet) {
      font-size: 22px;
      letter-spacing: -0.5px;
    }
    @media (max-width: 660px) {
      letter-spacing: -0.4px;
    }
    @include r($phone) {
      font-size: 20px;
    }
  }

  &__description {
    color: rgba($gray, .56);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.28px;
    @media (max-width: 520px) {
      font-size: 12px;
    }

    &.trainme, &.telegram {
      color: rgba($white, .9);
    }

    &.flyswap {
      color: rgba($black, .64);
    }
  }

  &__link {
    margin-top: auto;
    position: relative;
    z-index: 5;
    border-radius: 24px;
    padding: 24px;
    width: 100%;
    letter-spacing: -0.32px;
    background-color: rgba($gray50, .08);
    backdrop-filter: blur(8px);
    overflow: hidden;
    border: 2px solid transparent;
    transition: background-color .4s, border .4s, color .4s;
    @media (max-width: 860px) {
      padding: 20px;
      border-radius: 20px;
    }
    @include r($sm) {
      font-size: 14px;
      padding: 17px;
    }
    @media (max-width: 520px) {
      border-radius: 18px;
    }
    @include r($phone) {
      border-radius: 16px;
    }

    &.manta {
      &:hover {
        background-color: $pink100;
      }

      &:focus {
        background-color: rgba($gray50, .08);
        border-color: $pink;
      }
    }

    &.fibert {
      &:hover {
        background-color: $yellow;
        color: $black50;
      }

      &:focus {
        background-color: transparent;
        color: $white;
        border-color: $yellow;
      }
    }

    &.trainme {
      &:hover {
        background-color: $green200;
      }

      &:focus {
        background-color: transparent;
        color: $white;
        border-color: $green50;
      }
    }

    &.spacex {
      &:hover {
        background-color: rgba($white, .2);
      }

      &:focus {
        background-color: transparent;
        border-color: rgba($white, .4);
      }
    }

    &.flyswap {
      background-color: rgba($black100, .06);
      color: $black;
      position: relative;
      border-color: transparent;

      &:hover {
        color: $white;
        background-color: transparent;

        &::before {
          opacity: 1;
        }
      }

      &:focus {
        background-color: transparent;
        border-color: $blue500;
        color: $black;

        &::before {
          opacity: 0;
        }
      }

      &::before {
        @include pseudo;
        opacity: 0;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg, #FC6834 19.07%, #5E2FFF 63.52%, $blue500 98.18%), $black;
        transition: opacity .4s;
      }
    }

    &.telegram {
      background-color: rgba($gray50, .12);

      &:hover {
        background-color: $blue50;
      }

      &:focus {
        background-color: transparent;
        border-color: $white;
      }
    }
  }

  &__img {
    @include objectCoverBg;
    position: absolute;

    &.manta {
      bottom: 0;
      @include r($lg) {
        height: 300px;
        object-position: top;
        width: 100%;
      }
      @include r($tablet) {
        height: 280px;
      }
      @media (max-width: 660px) {
        height: 256px;
      }
      @include r($sm) {
        height: 240px;
      }
    }

    &.fibert {
      bottom: 127px;
      @include r($lg) {
        height: 180px;
      }
      @include r($tablet) {
        height: 160px;
        bottom: 112px;
      }
      @media (max-width: 660px) {
        height: 145px;
        bottom: 106px;
      }
      @include r($sm) {
        height: 135px;
        bottom: 103px;
      }
      @media (max-width: 520px) {
        height: 132px;
      }
    }

    &.trainme {
      top: 0;
      left: 0;
    }

    &.spacex {
      bottom: 0;
      transform: translateY(-22%);
      @include r($lg) {
        transform: translateY(-39%);
        height: 220px;
        width: 100%;
      }
      @include r($tablet) {
        height: 210px;
        transform: translateY(-39%);
        width: max-content;
      }
      @include r($sm) {
        transform: translateY(-27%);
      }
      @include r($phone) {
        height: 200px;
        transform: translateY(-30%);
      }
    }

    &.flyswap, &.telegram {
      @include topLeft50;
    }

    &.flyswap {
      @include r($lg) {
        height: 30px;
      }
      @include r($tablet) {
        height: 28px;
      }
    }

    &.telegram {
      @include r($tablet) {
        width: auto;
        height: 50px;
      }
    }
  }
}