.process {
  &__inner {
    padding: 56px 32px;
    border-radius: 24px;
    background-color: $black150;
    color: $white;
    @media (max-width: 1100px) {
      padding: 48px 32px 38px;
    }
    @media (max-width: 918px) {
      overflow: hidden;
      padding: 48px 24px 38px;
    }
    @media (max-width: 910px) {
      border-radius: 20px;
    }
    @include r($tablet) {
      margin: 0 -10px;
    }
    @media (max-width: 550px) {
      padding: 48px 20px 38px;
    }
    @media (max-width: 540px) {
      padding-bottom: 0;
    }
    @include r($phone) {
      margin: 0 -16px;
      border-radius: 16px;
    }
  }

  &__title {
    max-width: 725px;
    margin: 0 auto 56px;
    @media (max-width: 1100px) {
      margin-bottom: 44px;
    }
    @media (max-width: 360px) {
      font-size: 34px;
    }
  }

  .title-section {
    color: $gray;
    position: relative;
    z-index: 5;
  }

  &__content {
    position: relative;
    z-index: 5;
    padding-top: 72px;
    margin: 0 auto;
    max-width: 1063px;
    @media (max-width: 918px) {
      padding: 72px 18px 0;
      margin: 0 -24px;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    @media (max-width: 540px) {
      padding-bottom: 60px;
    }
  }

  &__img {
    @include objectCoverBg;
    position: absolute;
    user-select: none;
    top: 0;
    @media (max-width: 918px) {
      min-width: 1051px;
    }
  }

  &__steps {
    @include flex-column(8);
    position: relative;
    z-index: 20;
    padding: 0 20px;
    @media (max-width: 918px) {
      min-width: 1060px;
    }
  }

  &__final {
    @include flex-align-center(11);
    justify-content: flex-end;
  }

  &__step {
    @include flex-align-center(8);
    background-color: rgba($black200, .8);
    border-radius: 16px;
    padding: 16px 16px;
    max-width: 288px;
    line-height: 1.3;

    letter-spacing: -0.352px;
    width: 100%;
    @media (max-width: 1100px) {
      max-width: 280px;
    }
    @include r($lg) {
      max-width: 272px;
      backdrop-filter: none;
    }
    @media (max-width: 918px) {
      max-width: 288px;
    }

    &.two {
      transform: translateX(57%);
      @include r($lg) {
        transform: translateX(50%);
      }
      @media (max-width: 918px) {
        transform: translateX(57%);
      }
    }

    &.three {
      transform: translateX(146%);
      @media (max-width: 1100px) {
        transform: translateX(126%);
      }
      @media (max-width: 1050px) {
        transform: translateX(115%);
      }
      @include r($lg) {
        transform: translateX(105%);
      }
      @media (max-width: 940px) {
        transform: translateX(97%);
      }
      @media (max-width: 918px) {
        transform: translateX(146%);
      }
    }

    &.four {
      @media (max-width: 992px) {
        max-width: 255px;
      }
      @media (max-width: 918px) {
        max-width: 288px;
      }
    }

    &.fix {
      max-width: 114px;
      align-self: stretch;
      background-color: transparent;
    }

    img {
      user-select: none;
    }
  }

  &__line {
    @include topLeft50;
    transform: translateY(-217px) translateX(-50%);
    position: absolute;
    user-select: none;
    @media (max-width: 918px) {
      display: none;
    }

    &.mobile {
      @media (max-width: 918px) {
        display: block;
        transform: translateY(-406px) translateX(-50%);
      }
      @media (max-width: 540px) {
        transform: translateY(-370px) translateX(-50%);
      }
    }
  }

  &__bottom {
    @include flex-column(32);
    align-items: center;
    margin-top: 67px;
    position: relative;
    z-index: 30;
    @media (max-width: 918px) {
      display: none;
    }

    &.mobile {
      display: none;
      z-index: 5;
      @media (max-width: 918px) {
        display: flex;
        position: sticky;
        max-width: 485px;
        left: 21%;
      }
      @media (max-width: 860px) {
        left: 19%;
      }
      @media (max-width: 815px) {
        left: 17%;
      }
      @include r($tablet) {
        left: 15.4%;
      }
      @media (max-width: 720px) {
        left: 13.7%;
      }
      @media (max-width: 705px) {
        left: 13%;
      }
      @media (max-width: 680px) {
        left: 11%;
      }
      @media (max-width: 660px) {
        left: 9.5%;
      }
      @media (max-width: 620px) {
        left: 6.4%;
      }
      @include r($sm) {
        max-width: 100%;
        left: 0;
      }
    }
  }

  &__btn {
    overflow: hidden;
    position: relative;
    @include flex-align-center(8);
    background-color: $accent;
    color: $black150;
    padding: 23px 47px;
    box-shadow: 0 0 64px 0 rgba(191, 252, 39, 0.32),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(0, 0, 0, 0);
    @include r($lg) {
      border-radius: 24px;
    }
    @include r($phone) {
      padding: 24px 55px;
    }

    &::after {
      @include pseudo;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      border-radius: 24px;
      border: 1px solid rgba($white, 1);
      border-right: 1px solid rgba($white, .6);
      border-left: 1px solid rgba($white, .6);
      border-bottom: none;
      transition: opacity .4s;
    }

    &:hover {
      background-color: $accent;
      color: $black150;
      box-shadow: 0 0 64px 0 rgba(191, 252, 39, 0.64),
      0 0 0 rgba(0, 0, 0, 0),
      0 0 0 rgba(0, 0, 0, 0);

      &::after {
        opacity: 1;
      }
    }

    &:focus {
      background-color: transparent;
      box-shadow: none;
      color: $white;
      border-color: $accent;

      &::after {
        opacity: 0;
      }

      svg path {
        fill: $white;
      }
    }

    &.en {
      padding: 23px 41px;
    }
  }

  &__text {
    max-width: 510px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.28px;
    color: rgba($gray, .56);
    @media (max-width: 540px) {
      display: none;
    }

    &.short {
      max-width: 452px;
    }
  }
}