.swap {
  @include flex-align-center(8);
  font-size: 14px;
  letter-spacing: -0.28px;
  font-weight: 400;

  &--active {
    color: $black50;

    &-footer {
      color: $gray;
    }
  }

  &.mobile {
    display: flex;
    font-size: 16px;
  }

  &__link {
    color: rgba($black50, .4);
    border: 1px solid transparent;
    outline: 1px solid transparent;
    transition: color .4s, border .4s, outline-color .4s;
    @media (max-width: 670px) {
      color: rgba($black50, .5);
    }

    &:hover {
      color: $black50;
      border-bottom-color: $black50;
    }

    &:focus {
      border-color: $black50;
      color: $black50;
    }

    &--footer {
      color: rgba($gray, .4);

      &:hover {
        color: $white;
        border-bottom-color: $white;
      }

      &:focus {
        border-color: $white;
        color: $white;
      }
    }
  }
}