<footer class="footer indent" id="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__head">
        <span class="footer__title">Давайте обсудим Вашу задачу</span>
        <ul class="footer__contacts">
          <li>
            <span>Телеграм:</span>
            <a class="footer__contacts-link" href="https://t.me/morphism" target="_blank">@morphsim</a>
          </li>
          <li class="footer__contacts-middle">
            <div class="footer__tooltip">Скопировано!</div>
            <span>Джаббер:</span>
            <button class="footer__contacts-link jabber" type="button">morphism@exploit.im</button>
          </li>
          <li>
            <span>Телеграм канал:</span>
            <a class="footer__contacts-link" href="https://t.me/morphism_cases" target="_blank">@morphsim_cases</a>
          </li>
        </ul>
      </div>
      <div class="footer__bottom">
        <div class="footer__left">
          <img src="images/logo-white.svg" width="116" height="20" alt="">
          <div class="swap">
            <span class="swap--active swap--active-footer">Рус</span>
            /
            <a class="swap__link swap__link--footer" href="#">Eng</a>
          </div>
        </div>
        <ul class="footer__links">
          <li>
            <a class="footer__link desktop" href="#header">Главная</a>
          </li>
          <li>
            <a class="footer__link desktop" href="#works">Кейсы</a>
          </li>
          <li>
            <a class="footer__link desktop" href="#reviews">Отзывы</a>
          </li>
        </ul>
        <div class="footer__right">
          <a class="footer__to-top desktop" href="#header">
            Наверх
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path
                  d="M8.66737 13.3334H7.33404V5.33344L3.66737 9.0001L2.7207 8.05344L8.0007 2.77344L13.2807 8.05344L12.334 9.0001L8.66737 5.33344V13.3334Z"
                  fill="#F0F0EC"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <img class="footer__decor" src="images/footer.webp" height="874" alt="decor">
</footer>